.cd-content__wrapper {
    padding: 48px 16px 0 34px;
    width: 100%;
    max-width: 720px;
  }
  
  .cd-body__intro-title {
    margin-bottom: 16px;
  }
  
  .cd-body__title {
    line-height: 1.45;
    letter-spacing: -0.3px;
    color: #343a40;
    font-size: 22px;
  }
  
  .cd-body p {
    margin-bottom: 8px;
    line-height: 1.69;
    color: #495057;
    font-size: 16px;
  }
  
  .cd-body__description {
    margin-bottom: 32px;
    line-height: 1.69;
    letter-spacing: -0.5px;
    color: #495057;
    font-weight: 500;
    font-size: 18px;
    word-break: keep-all;
  }
  
  .cd-fixed-body {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 32px 24px 32px 16px;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    background-color: #fff;
  }
  
  .cd-body > * {
    letter-spacing: -0.3px;
  }
  
  .cd-fixed-body__title {
    flex-shrink: 0;
    flex-basis: 130px;
    margin-right: 16px;
    line-height: 1.39;
    letter-spacing: -0.3px;
    color: #343a40;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .cd-fixed-body__list-content {
    flex: 1 1 auto;
  }
  
  .cd-fixed-body__list {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.3px;
    font-size: 16px;
    display: flex;
    align-items: baseline;
    color: #343a40;
  }
  
  .cd-fixed-body__list > .infd-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .infd-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease;
  }
  
  .cd-body h2 {
    margin-bottom: 12px;
    font-weight: 500;
    color: #343a40;
    font-size: 26px;
    line-height: 1.5;
  }
  
  .cd-body p {
    margin-bottom: 8px;
    line-height: 1.69;
    color: #495057;
    font-size: 16px;
  }
  
  .cd-body h3 {
    margin-bottom: 10px;
    line-height: 1.45;
    color: #343a40;
    font-size: 22px;
    font-weight: 500;
  }
  .columns {
    display: flex;
  }
  
  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }
  
  .cd-body h4 {
    margin-bottom: 8px;
    line-height: 1.56;
    color: #343a40;
    font-size: 18px;
    font-weight: 500;
  }
  
  .cd-body ul {
    list-style-type: disc;
  }
  
  .cd-body ul li {
    margin-bottom: 2px;
    line-height: 1.69;
    color: #495057;
    font-size: 16px;
    word-break: break-all;
  }
  
  .cd-body__tip-title {
    margin-top: 42px;
    margin-bottom: 24px;
  }
  
  .cd-body img {
    max-width: 100%;
    height: auto;
  }